.basicInfo-container{
    padding: 2px;
    background-color: darkgray;
    margin: 2px;
}

.title{
    padding: 10px;
    font-size: larger;
    font-style: italic;
}

.content{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: large;
}


